@font-face { 
    font-family: 'Gilroy';
    src: url('../fonts/GilroyRegular.woff') format('woff'), url('../fonts/GilroyRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face { 
    font-family: 'Gilroy';
    src: url('../fonts/GilroyMedium.woff') format('woff'), url('../fonts/GilroyMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face { 
    font-family: 'Gilroy';
    src: url('../fonts/GilroyBold.woff') format('woff'), url('../fonts/GilroyBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}